@charset "UTF-8";

@font-face {
    font-family: 'Titles';
    src: url(fonts/Monteserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Typing';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Highlight';
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --colortitles: #F2DD72;
    --colorhighlight: #4169E1;
    --color1: #778899;
    --color2: #32CD32;
    --color3: #4B0082;
    --color4: #8A2BE2;
    --color5: #9370DB;
    --color6: #00CED1;
    --color7: #00BFFF;


    --texttitles: 'Titles', Arial, Helvetica, serif;
    --texttyping: 'Typing', Arial, Helvetica, sans-serif;
    --texthighlight: 'Highlight', Arial, Helvetica, serif;
}

/*-----i-----cabecalho-----i-----*/
#menu {
    position: fixed;
    display: none;
    flex-direction: row;
    width: 100%;
    height: 5vmax;
    flex: 1;
    z-index: 2;
    background-color: black;
    border-bottom: solid 0.2vw var(--color1);
}

#menu .menu-item {
    display: inherit;
    height: 100%;
    align-items: center;
    flex: 1;
}

#menu h1 {
    width: 25%;
    justify-content: flex-start;
    padding-left: 2vw;
    font: normal 2vw var(--texttitles);
    color: white;
}

#menu h1 strong {
    margin-right: 1vw;
}

#menu h2 {
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: bold 2vw var(--texthighlight);
}

#menu h2 a {
    text-decoration: none;
    color: var(--color7);
    transition: 0.1s ease-in-out;
}

#menu h2 a:hover {
    cursor: pointer;
    color: var(--colortitles);
    font-size: 95%;
}

/*-----i-----menucascata-----i-----*/
#menu nav {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-end;
    padding-right: 2vw;
    z-index: 1;
}

#menu-open, #menu-close {
    position: absolute;
    border: none;
    align-self: flex-end;
    font-size: 3.5vw;
    height: 100%;
    background-color: black;
    color: white;
}

#menu-close i {
    display: none;
}

#menu-open i:hover, #menu-close i:hover {
    cursor: pointer;
    color: var(--color7);
}

#menu nav ol {
    position: relative;
    display: none;
    list-style: none;
    align-self: flex-end;
    width: 50%;
    top: 100%;
    background-color: var(--color1);
    padding: 0.2vw 0;
}

#menu nav ol li button {
    border: solid 0.2vw transparent;
    border-radius: 0.5vw;
    padding: 0.5vw 0;
    margin: 0.2vw 0;
    width: 90%;
    font: italic 1.5vw var(--texttitles);
    transition: 0.1s ease-in-out;
    background-color: var(--color1);
    color: white;
}

#menu nav ol li button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.452);
    letter-spacing: 0.1vw;
    color: var(--color7);
}

/*-----f-----menucascata-----f-----*/

/*-----f-----cabecalho-----f-----*/



/*-----i-----intro-----i-----*/

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 22%;
    }
}

#main-intro {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vw;
    background: linear-gradient(to bottom, var(--color5), black 20%);
}

#main-intro header {
    display: inherit;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
}

#main-intro header h1 {
    overflow: hidden;
    border-right: .15em solid var(--color2);
    white-space: nowrap;
    animation: typing 3s steps(20) infinite alternate;
    font: normal 2vw var(--texthighlight);
    color: white;
    text-align: center;
}

#i-panel {
    display: inherit;
    flex-direction: row;
    width: 100%;
    height: 85%;
    align-items: center;
    justify-content: center;
    color: white;
}

#i-panel div {
    display: inherit;
    flex-direction: column;
    padding: 0 2vw;
    width: 35%;
    font-family: var(--texttitles);
}

#i-panel div h1 {
    font-size: 1.5vw;
    color: var(--color5);
    line-height: 1vw;
}

#i-panel div h1 strong {
    font-size: 3.5vw;
    color: white;
}

#i-panel div h3 {
    font-size: 1.2vw;
    color: var(--color5);
}

#i-panel div h3 strong {
    font-size: 3.2vw;
    color: white;
}

#i-panel div h5 {
    padding: 3vw 0;
    align-self: center;
    font-size: 1.5vw;
}

#i-panel div h5 i {
    margin-right: 0.5vw;
}

#i-panel div h5 a {
    color: var(--color7);
    text-decoration: none;
    cursor: pointer;
}

#i-panel div h5 a:hover {
    color: var(--colortitles);
    text-decoration: underline;
}

#i-panel img {
    height: auto;
    width: 30%;
    border-radius: 20vw;
}

#i-panel p {
    position: relative;
    bottom: 2vw;
    text-align: right;
    width: 35%;
    font: italic 3vw var(--texthighlight);
    padding: 0 2vw;
}

#i-panel p strong {
    color: var(--color5);
}

/*-----f-----intro-----f-----*/



/*-----i-----sobre-----i-----*/

#main-personal-information {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200vw;
    justify-content: center;
    align-items: center;
}

.pi-topic {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2vw 7vw;
    background: linear-gradient(to bottom, var(--color5), black 5%, black 95%, var(--color5));
    color: white;
}

.pi-topic ul {
    list-style: none;
}

.pi-topic .pi-text {
    margin: 1vw 0;
    font: normal 1.7vw var(--texttyping);
    letter-spacing: 0.1vw;
    line-height: 2.5vw;
}

.pi-topic .pi-text a {
    text-decoration: none;
    color: var(--color7);
}

.pi-topic .pi-text a:hover {
    text-decoration: underline;
    color: var(--colortitles);
}

.pi-title {
    text-decoration: underline;
    font: bold 3.5vw var(--texttitles);
    letter-spacing: 0.5vw;
    margin-bottom: 2vw;
}

.pi-text {
    font: normal 1.5vw var(--texttyping);
    line-height: 2vw;
}

#pi-about {
    display: inherit;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

#pi-education {
    display: inherit;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: right;
}

#pi-skills {
    display: inherit;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

#pi-skills #pi-main-list {
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 70%;
    width: 100%;
}

#pi-skills #pi-main-list .pi-text {
    border: solid 0.2vw var(--color1);
    padding: 1vw;
}

#pi-skills .pi-subtitle {
    padding: 1vw 0;
    color: var(--color5);
}

#pi-skills .pi-subtext {
    text-align: center;
}

#pi-experience {
    display: inherit;
    align-items: flex-end;
    justify-content: flex-start;
}

/*-----f-----sobre-----f-----*/



/*-----i-----projetos-----i-----*/

#main-projects {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40vw;
}

#main-projects header {
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, var(--color5), var(--color3));
}

#main-projects header h1 {
    font: bold 4vw var(--texttitles);
    letter-spacing: 1vw;
}

#projects {
    display: inherit;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    background: linear-gradient(to bottom, var(--color3) 50%, black);
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 85%;
    border: solid 0.5vw var(--color1);
    border-radius: 0.5vw;
    overflow: hidden;
}

.project img {
    position: absolute;
    height: 100%;
}

.project:hover img {
    filter: blur(3px);
}

.project h1 {
    text-align: center;
    font: bold 2vw var(--texttitles);
    padding: 0 0.3vw;
}

.project p {
    text-align: justify;
    font: normal 1.2vw var(--texttyping);
    line-height: 1.6vw;
    padding: 0.5vw;
}

.project h1, .project p {
    border-radius: 0.5vw;
    opacity: 0;
    z-index: 1;
    align-self: center;
    margin: 0.5vw;
    background-color: rgba(0, 0, 0, 0.712);
    transition: 0.2s ease-in-out;
    color: white;
}

.project:hover h1, .project:hover p {
    opacity: 1;
}

.project p a i {
    color: var(--color7);
    font-size: 2.5vw;
    cursor: pointer;
}

.project p a i:hover {
    color: var(--colortitles);
}

/*-----f-----projetos-----f-----*/



/*-----i-----rodape-----i-----*/

#end-page {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vw;
    align-items: center;
    justify-content: center;
    border: solid 2px turquoise;
}

/*-----f-----rodape-----f-----*/